<h1>About Bloccit</h1>
<p>Created by: Melanie</p>
<div class="row">
  <div class="span4">
    <h2>Lots of sharing, no caring.</h2>
    <p>Sites today have overloaded their content with cats, memes and useless recipes. Not Bloccit. Bloccit is a cat-free zone, a succes kid-free zone. And the only recipes allowed on this website, are cookie recipes.</p>
  </div>