<div class="jumbotron">
  <h1>About Bloccit</h1>
  <p>Bloccit is a resource for sharing links with your friends and family.</p>
  <p>Created by: Melanie </p>


 <h2>Lots of sharing, no caring.</h2>
    <p>Sites today have overloaded their content with cats, memes and useless recipes. Not Bloccit. Bloccit is a cat-free zone, a succes kid-free zone. And the only recipes allowed on this website, are cookie recipes.</p>
  </div>