<div class="jumbotron">
  <h1>Bloccit</h1>
  <p>Bloccit is a resource for sharing links with your friends and family.</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-success btn-large' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
</div>
 <div class="row">
  <div class="col-sm-6 col-md-4">
 
    <h2>Lots's of cat-free topics!</h2>
    <p>Sites today have overloaded their content with cats. Not us. Bloccit is a cat-free zone. And dog-free, really. Basically there are no animals. Hurray! (There is an axolotl exception to this rule.)</p>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <h2>No success kid here</h2>
    <p>Annoyed that your CEO demands the success kid in EVERY Power Point Presentation you make? Come to Bloccit for some meme-free space and time. Isn't that relaxing?</p>
  </div>
  
    <h2>Only cookie recipes</h2>
    <p>Sure, recipes are great. But this is the internets, so only recipes about cookies. Because cookies are awesome.</p>
  </div>
</div>
<p>
